@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@100..900&display=swap");

body {
  font-family: "Roboto Condensed", sans-serif;
}

/* Custom Header Gradient Background */
.custom-header {
  position: absolute;
  top: 0;
  right: 0;
  width: 1001.89px;
  height: 45px;
  border-radius: 0 0 0 25px;
  background: linear-gradient(90deg, #1c3eff 0%, #14b7f0 100%);
  z-index: 10;
}

.left-side::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 9%;
  background: #ffffff;
  z-index: -10;
}

.mobile-navbar {
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  height: 45px;
  border-radius: 0 0 0 25px;
  background: linear-gradient(90deg, #1c3eff 0%, #14b7f0 100%);
  z-index: 10;
}

.mega-menu {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.mega-menu.active {
  opacity: 1;
}

.slick-dots {
  display: none !important;
}
