@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@100..900&display=swap');

body {
    font-family: "Roboto Condensed", sans-serif;
}

/* Custom Header Gradient Background */
.custom-header {
    position: absolute;
    top: 0;
    right: 0;
    width: 1000px;
    height: 40px;
    border-radius: 0px 0px 0px 25px;
    background: linear-gradient(90deg, #1C3EFF 0%, #14B7F0 100%);
}

/* Mobile Navbar */
.mobile-navbar {
    position: absolute;
    top: 0;
    right: 0;
    width: 170px;
    height: 40px;
    border-radius: 0px 0px 0px 25px;
    background: linear-gradient(90deg, #1C3EFF 0%, #14B7F0 100%);
}
